:root {
    --vp-nav-height: 100px;
}

.title {
    justify-content: center;
    --vp-c-divider: transparent;
}

.logo {
    height: 100px !important;
}

@media (min-width: 960px) {
    .curtain {
        top: -100px !important;
    }
}